<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493736602145-6tncdmvgn9n1lo7r8bv7hadpj1ipme1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493736602145-6tncdmvgn9n1lo7r8bv7hadpj1ipme1q</string>
	<key>API_KEY</key>
	<string>AIzaSyAt6us4jXiabZH_bHo1jU2AynUPGmljDGg</string>
	<key>GCM_SENDER_ID</key>
	<string>493736602145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.nativeCam</string>
	<key>PROJECT_ID</key>
	<string>nativecam-65ff3</string>
	<key>STORAGE_BUCKET</key>
	<string>nativecam-65ff3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493736602145:ios:34f40cf9ae897de4d6d160</string>
	<key>DATABASE_URL</key>
	<string>https://nativecam-65ff3.firebaseio.com</string>
</dict>
</plist>